/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
} */

/* HTML5 display-role reset for older browsers */
/* article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
} */

/* End of Meyer Reset CSS */

ol, ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}

img {
    max-width: 100%;
    /*makes images scale with flexible grids*/
    display: block;
    /*removes tiny space added in some browsers below images */
}

html {
    font-size: 16px;
    /* Adjust for REM */
    line-height: 1;
    font-family: 'IBM Plex Sans', sans-serif;

}

.logo {
    width: 40%;

}

.topnav {
    justify-content: space-around;
    flex-grow: 0 !important;
}


.projects .card-text {
    line-height: 140%;
}

.projects img {
    object-fit: cover;
    width: 100%;
    height: 20vw;
}

.card-footer {
    border-top: none;
}

.card-img-overlay {
    box-shadow: inset 100rem 100em rgba(0,0,0,.3);

  }

  .locked {
    color: #fff;
    font-size: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .locked i {
    line-height: 1 !important;
  }

.badge {
    background-color: #E5F6DF;
    color: #232426;
    font-weight: 400;
    font-size:.75rem;
    margin-bottom: .5rem;
}

.hero {
    width: 80%;
    margin: 3rem auto 10rem auto;
    padding: .5rem;
}


.portfolio {
    padding-bottom: 2rem;
}


/* ---------TEXT STYLES--------- */

.hero p {
    font-size: 1.8rem;
    line-height: 180%;
    font-family: 'IBM Plex Sans', sans-serif;

}

.projects h5 {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.bio {
    font-size: 1.05rem;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(236, 43, 47);
}

.bio {
    font-size: 1.1rem;
    margin-top: 4rem;
    margin-bottom: 10rem;
}

.highlight {
    width: max-content;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #fff 50%, #E5F6DF 50%);
    background-position: 0% 0;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.highlight:nth-child(1) {
    animation-delay: .5s;
}

.highlight:nth-child(2) {
    animation-delay: 1s;
}

.highlight:nth-child(3) {
    animation-delay: 3s;
}

.highlight:nth-child(4) {
    animation-delay: 5s;
}

.highlight:nth-child(5) {
    animation-delay: 2.1s;
}

.highlight.active {
    animation-name: highlight;
}

@keyframes highlight {
    from {
        background-position: 0% 0;
    }

    to {
        background-position: -100% 0;
    }
}


.ready:hover {
    box-shadow: 0 0 13px rgba(0, 0, 0, .4);
    transition: all .5s;
}

.thesis {
    line-height: 175%;
}














/* -------- OLD CODE ---------- */




.leftside {
    width: 60%;
    position: relative;
    margin: 0 auto;
}

#individual .leftside {
    width: 90%;
    position: relative;
    margin: 1rem .5rem;
}

.rightside {
    width: 90%;
    position: relative;
    float: left;
    margin: 1rem .5rem;
}

.rightside .intro {
    margin: 0 .5rem !important;
    width: 90%;
    font-size: 1.05rem;
    line-height: 140%;

}


















.workcaption h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: .4rem;
    color: #232426;
    margin-top: .4rem;
}



.divider,
.title {
    width: 90%;
    text-align: left;

}

.divider {
    margin: 0 auto;
}

.title {
    margin-top: 1.5rem;
}






footer {
    width: 100%;
    background-color: rgb(245, 245, 245);
    padding: 2rem 2.5% .5rem 2.5%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

footer nav {
    width: 60%;
    float: right;
    font-family: 'IBM Plex Sans', sans-serif;
}

.footernav {
    width: 100%;
}




















/* -------- LISTS ----------- */




.goals {
    font-family: 'IBM Plex Sans', sans-serif;
    list-style-type: disc;
    padding-left: 10%;
}

.jobduties {
    padding-top: 1rem;
}

p.qualify {
    margin-bottom: .5rem;
}


.footernav li:hover {
    background-color: none;
}

.footernav li {
    display: block;
    float: left;
    margin-left: 2%;
}

/* --------- LINK ---------- */

#portfolio a,
a {
    text-decoration: none;
}

.work a {
    text-decoration: none !important;
    border-bottom: 0px;
    color: #33271f;

}

.work a:hover {
    text-decoration: none !important;
    font-weight: 400;
    color: #33271f;

}



a {
    color: rgb(236, 43, 47);
   
}
